.main-container {position: fixed; top: 0; right: 0; bottom: 0; left: 0; width: 100%; box-sizing: border-box;}

/* ********************** */

.main-protection-elements-container {width: 78%; margin: 50px auto;}

/* ********************** */

.protection-elements-section {width: 60%; margin: 0 auto; text-align: center;}
.protection-elements-title {font-size: 20px; color: #ECBF43; font-family: Helvetica; font-weight: bold; text-transform: uppercase; margin: 0 0 20px; text-align: center;}
.protection-options-container {display: flex; flex-direction: row; justify-content: space-between;}

.protection-options-container.container-two{
  display: flex;
  flex-direction: column;
}

.main-checkbox-container {display: flex; flex-direction: row;margin-top: 17px; }

.radio-elements {display: block;}
div.checkbox-container {position: relative; display: block;}

/*.main-checkbox-container-input input[type=checkbox] {display: none;}
.main-checkbox-container-input {position: relative; display: block;}
.main-checkbox-container-input input{appearance: none; outline: none; position: absolute; right: 0; -webkit-appearance: none; -moz-appearance: none; visibility: hidden;}
.main-checkbox-container-input input + i {background: transparent;position: absolute; cursor: pointer; border-radius: 50%; width: 25px; height: 25px; left: -30px;top: -13px; box-shadow: 0px 2px 2px #00000029; border: 1px solid #ECBF43;}
.main-checkbox-container-input input[type=radio]:checked + i {border: 1px solid #ECBF43;background: #ECBF43; background-image: url(../../../assets/icons/check-yellow-icon.svg); background-position: center; height: 21px; width: 21px; background-size: 80%; background-repeat: no-repeat;}
*/

.main-checkbox-container  label{
  font-size: 1em
}

.main-checkbox-container  input[type=checkbox]{
  display: none; /*solo se esconde para tener un campo personalisado*/
}

.main-checkbox-container  input[type=checkbox] + label{
  cursor:pointer;
}
/*esta linea significa esto + el siguiente elemento*/

.main-checkbox-container  label:before{
  content:'';
  background:transparent;
  border: 1px solid #ECBF43;

  border-radius: 15px;
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-right: 10px;
  text-align:center;
  text-shadow:4px -2px 3px gray;
  vertical-align:middle;
}
.main-checkbox-container  input[type=checkbox]:checked + label:before{
  content: '✔';
  background-color: #ECBF43;
  font-size: 19px;
  margin-top: 3px;
  font-family:'Times New Roman';
  color:#f4f7f2;
}


/*.main-checkbox-container-input input[type=checkbox]{
    display: none; 
  }
  .main-checkbox-container-input label{
    font-size: 17px;
  }
  .main-checkbox-container-input input[type=checkbox] + label{
    cursor:pointer;
  }
  .main-checkbox-container-input label:before{
    content:'';
    background:transparent;
    border: 1px solid #ECBF43;;
    border-radius: 15px;
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-right:20px;
    text-align:center;
    text-shadow:4px -2px 3px gray;
    vertical-align:middle;
  }
  .main-checkbox-container-input input[type=checkbox]:checked + label:before{
    content: '';
    position: absolute;
    background: #ECBF43;
    background-image: url(../../../assets/icons/check-yellow-icon.svg);
    background-position: center;
    background-size: 5  0%;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    font-size: 15px;
    font-family:'Times New Roman';
    
  }
/*div.checkbox-container input{appearance: none; outline: none; position: absolute; right: 0; -webkit-appearance: none; -moz-appearance: none; visibility: hidden;}
div.checkbox-container input + i {background: transparent; position: absolute; cursor: pointer; border-radius: 50%; width: 20px; height: 20px; left: -30px; top: -3px; box-shadow: 0px 2px 2px #00000029; border: 1px solid #ECBF43;}
div.checkbox-container input[type=checkbox]:checked + i {border: 1px solid #ECBF43;background: #ECBF43; background-image: url(../../../assets/icons/check-yellow-icon.svg); background-position: center; height: 20px; width: 20px; background-size: 80%; background-repeat: no-repeat;}*/
.s-element {color: #2E2E2E; font-family: Helvetica; font-size: 15px; text-align: left; font-weight: 400;margin-left: 10px;}

/* ********************** */
/* .options-risk-container input[type=text] {width: 20px; height: 20px; border: 1px solid #ECC149; box-shadow: 0px 2px 2px #00000029; border-radius: 50%; color: #ECC149; cursor: pointer;} */
.options-risk-main-container {margin: 40px auto 0;}
.options-risk-container {width: 100%; margin: 0 auto;display:flex; flex-direction:column; justify-content:flex-start;}
.m-top {margin-top: 25px;}


/*.s-checkbox {display: none;}
div.checkbox-container-synthoms {position: relative; display: flex;}
div.checkbox-container-synthoms input{appearance: none; outline: none; position: absolute; right: 0; -webkit-appearance: none; -moz-appearance: none; visibility: hidden;}
div.checkbox-container-synthoms input + i {background: transparent; position: absolute; cursor: pointer; border-radius: 50%; width: 20px; height: 20px; left: 20px; top: 5px; right: 0; box-shadow: 0px 2px 2px #00000029; border: 1px solid #ECBF43;}
div.checkbox-container-synthoms input[type=checkbox]:checked + i {border: 1px solid #ECBF43;background: #ECBF43; background-image: url(../../../assets/icons/check-yellow-icon.svg); background-position: center; height: 20px; width: 20px; background-size: 80%; background-repeat: no-repeat; z-index: 5;}
.s-sintoma {color: #2E2E2E; font-family: Helvetica; font-size: 15px; font-weight: 400; display: flex; align-items: center;}*/


.container-preguntas{
  display: flex  !important;
  flex-direction: column;
}

/* ********************** */

.main-protection-elements-container form > button {width: 140px; cursor: pointer; border: none;  min-width: 121px; height: 30px; display: block; margin: 50px auto 0;box-shadow: 0px 3px 6px #00000029; background-color: #ECBF43; border-radius: 31px; color: #2E2E2E; display: flex; justify-content: center; align-items: center; text-transform: uppercase; font-family: Helvetica; font-size: 15px; font-weight: 500;}

.ovalos-protection-elements {position: absolute; z-index: 5; right: 0px; bottom: 0; width: 30%; height: 30%; min-width: 600px; min-height: 300px;}

.footer-protection {position: absolute; bottom: 0;} 

/* .footer2 {position: absolute; bottom: 10;} */

@media only screen and (max-width:1200px)
    {
        /*.main-protection-elements-container {width: 100%; margin: 50px auto;}*/
        .protection-elements-section {width: 100%; margin: 0 auto;}
        .protection-elements-title {font-size: 16px; margin: 0 0 10px; text-align: center;}
        .protection-options-container {display: flex; flex-direction: row; justify-content: space-around; text-align: center; width: 60%; margin: 0 auto;}
        
        
        .s-element {font-size: 14px; vertical-align: middle;text-align: left;}
        .m-right {margin-right: 20px;}
        
        .options-risk-main-container {margin: 50px auto 0; position: relative; z-index: 10; align-items: center;}
        .options-risk-container {width: 60%; margin: 20px auto; padding: 0;justify-content: center;}
        .s-checkbox {text-align: center; margin: 0 auto;}
        .m-top {margin-top: 20px;}

        div.checkbox-container-synthoms input + i {background: transparent; position: absolute; cursor: pointer; border-radius: 50%; width: 20px; height: 20px; left: 20px; top: -8px; right: 0; box-shadow: 0px 2px 2px #00000029; border: 1px solid #ECBF43;}

        .main-protection-elements-container form > button {position: relative; z-index: 10;}

        /* footer */
        /* .footer-protection { display: none;} */
        
        /* ovalos */
        .ovalos {right: 0; bottom: 50; width: 10%; height: 30%; min-width: 100px; min-height: 100px; z-index: 0;}
        
    }

@media only screen and (max-width:1024px)
    {
        .main-protection-elements-container {width: 100%; margin: 40px auto;}
        .protection-elements-section {width: 100%; margin: 0 auto;}
        .protection-elements-title {font-size: 16px; margin: 0 0 10px; text-align: center;}
        .protection-options-container {display: flex; flex-direction: column; justify-content: center; text-align: center; margin: 0 auto; width: 48%;}
        .s-element {font-size: 14px; vertical-align: middle;}
        .m-right {margin-right: 20px;}
        
        .options-risk-main-container {margin: 40px auto 0; position: relative; z-index: 10; align-items: center;}
        .options-risk-container {width: 48%; margin: 20px auto; padding: 0; grid-row-gap: 15px;}
        .m-top {margin-top: 20px;}
        .m-top-mobile {margin-top: 15px;}

        .main-protection-elements-container form > button {position: relative; z-index: 10;}

        /* footer */
        .footer-protection { display: none;}
        
        /* ovalos */
        .ovalos {right: 0; bottom: 50; width: 10%; height: 30%; min-width: 100px; min-height: 100px; z-index: 0;}
        
    }

    @media only screen and (max-width:768px){
      .protection-options-container {display: flex; flex-direction: column; justify-content: center; text-align: center; margin: 0 auto; width: 90%;}

      .clients-register {
        width: 90%;
    
    }

    }




